.Home {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: flex-start; 
  margin-top: 10px;
  height: 100%;
}
.Home .Cart {
  margin-left: 30px; 
}
.Home h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.Home h5 {
  font-size: 2rem;
}

@media (max-width: 920px) {
  .Home .ResponsiveAppBar {
    align-self: flex-start;
  }
}
