.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 100%;
}

.Home h1 {
font-size: 2rem;
margin-bottom: 2rem;
}

.Home h5 {
font-size: 2rem;
}

@media (max-width: 920px) {
.Home .ResponsiveAppBar {
  align-self: flex-start;
}
}
