/* ProductPage.css */

.ProductPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 250px;
  padding: 20px;
  flex-wrap: wrap;
}

.ProductPage .ReviewProduct{
  width: 100%;
  margin-top: 25px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ProductPage .AddReviewProduct {
  margin-top: 50px;
  width: 100%;
  border: 1px solid #d3d3d3;
  border-radius: 5px; 
}


.product-gallery, .product-details {
  width: 45%;
}

.ProductPage .carousel {
  width: 100%;
}

.product-details {
  text-align: center;
}

.product-description {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  align-self: center;
}

.product-features {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.product-features li {
  margin-bottom: 10px;
}

.cart {
  position: fixed;
  right: 180px;
  top: 60px;
  width: 440px; /* Adjust this to suit your needs */
  height: 100%;
  min-height: 650px;
}
