@media (max-width: 800px) {
  .AuthMenu .user-name,.login-link , .sign-up-link,
  .AuthMenu .LogoutLink {
    display: none;
  }
}

@media (min-width: 801px) {
  .AuthMenu .user-name, 
  .AuthMenu .LogoutLink {
    display: inline;
  }
}


.AuthMenu .AccountCircleIcon,
.AuthMenu .LogoutIcon {
  margin-right: 10px;
}